<!doctype html>
<html>
  <title>Steam Friends</title>
  <body>
    <h1>Steam Friends!</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h2>People</h2>

    <ul>
    {% for name in steam_names %}
      <li>{{ name }}</li>
    {% else %}
      <li>No names :'(</li>
    {% endfor %}
    </ul>

    <h2>Common Games</h2>

    <ul>
    {% for game in common_games %}
      <li>{{ game }}</li>
    {% else %}
      <li>No games :'(</li>
    {% endfor %}
    </ul>

  </body>
</html>
